// Used in layout

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

.top-bar {
  background-color: #424447; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 0; /* Add padding to the top bar */
}

.top-bar-content {
  display: flex; /* Use flexbox to arrange content */
  justify-content: space-between; /* Space content evenly */
  align-items: center; /* Center align content vertically */
  max-width: 1200px; /* Set the maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
}

.logo {
  text-decoration: none; /* Remove underline from the logo */
  color: #fff; /* Set logo text color */
  font-weight: bold; /* Make the text bold */
  font-size: 24px; /* Adjust the font size as needed */
}

.top-bar-nav ul {
  list-style: none; /* Remove the default list styles */
  padding: 0; /* Remove padding from the list */
  display: flex; /* Use flexbox for navigation items */
}

.top-bar-nav li {
  margin: 0 15px; /* Add margin between navigation items */
}

.top-bar-nav a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Set link text color */
  font-weight: bold; /* Make the text bold */
}

.top-bar-nav a:hover {
  text-decoration: underline; /* Add underline on hover */
}



$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default;

// Themes
@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0055bb;
  --color-visited-link: #8440f1;

  --body-background: white;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-dark {
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-link: #84b2ff;
  --color-visited-link: #b88dff;

  --body-background: #343a40;
  --body-font-color: #e9ecef;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}
